# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy ASP app to Azure Web App - learningapp007

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4
      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x' 

      # 2. Restore, Build, and Publish using the dotnet CLI
      # IMPORTANT: If your .csproj is inside a subfolder, add the path here. 
      # Example: run: dotnet publish ./learningapp/learningapp.csproj -c Release -o ./published
      - name: Publish with dotnet
        run: dotnet publish -c Release -o ./published

      # 3. Upload the compiled code for the deploy step
      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: ASP-app
          path: './published/**'
